*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: system-ui;
}
a{
    text-decoration: none;
    color: bisque;
}
header{
    position: fixed;
    width: 100%;
}
a:hover{
    letter-spacing: 1px;
    
}
header{
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
li{
    list-style: none;
    width: 50px;
    padding-left: 30px;
    padding-top: 20px;
}
ul{
    display: flex;
    margin: 15px 20px 0 0;
    margin-right: 50px;
    
}
ul li a{
    padding: 6px 15px;
    border-radius: 20px;

}
ul li a:hover,.active{
    background-color: white;
    color: #10001f;
}
.pro:hover{
    background-color: #10001f;
}
h2{
    margin: 20px 0 0 30px;

}
.logo{
    font-size: 30px;

}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient( to top, #200016,transparent);
}
section img{
    position: absolute;
    height: 100vh;
    object-fit: cover;
    width: 100%;

}
#moon{
    mix-blend-mode: screen;
}
.zyad{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    transform: translateY(-150px);
    position: fixed;
}
.content{
    color: white;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin: 20px;

}
#moon{
    padding-right: 800px;
    height: 600px;
    width: 600px;
}
